* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grid-item-border: 4px solid rgb(204, 167, 186);
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  justify-items: center;
  font-family: sans-serif;
  background-color: rgb(238, 238, 238);
}

h1 {
  font-size: 4rem;
  color: rgb(117, 95, 107);
  margin-top: 3.2rem;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 4.9rem;
}

.player0,
.player1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.8rem;
  color: rgb(105, 139, 158);
  font-size: 1.8rem;
}

.player0 div,
.player1 div {
  font-size: 1.8rem;
  color: rgb(63, 93, 109);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}

.grid-item {
  min-width: 6.4rem;
  min-height: 6.4rem;
  display: flex;
  color: rgb(175, 141, 159);
  font-size: 3.2rem;
  align-items: center;
  justify-content: center;
}

.lr-border {
  border-left: var(--grid-item-border);
  border-right: var(--grid-item-border);
}

.tb-border {
  border-top: var(--grid-item-border);
  border-bottom: var(--grid-item-border);
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(117, 95, 107);
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  margin-top: 1.6rem;
}

.winner,
.score {
  justify-self: center;
}

.win-emphasis {
  color: rgb(122, 163, 185);
}

@media (max-width: 44em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 32em) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 17em) {
  html {
    font-size: 15%;
  }
}
